# --- INFRASTRUCTURE (Docker & Base de données) ---
USER_ID=
GROUP_ID=

DB_ROOT_PASSWORD=
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=

# --- BACKEND ---
API_URL=
API_TOKEN=
ID_TUNNEL=
TUNNEL_TOKEN=
JWT_SECRET=

# --- SERVICES TIERS ---
WEATHER_API_KEY=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

# --- FRONTEND (Vite / Electron) ---
VITE_API_URL=
VITE_API_TOKEN=
GH_TOKEN=